In [27]:
import os
import pandas as pd

In [28]:
data_file = os.path.join('resources','hawaii_measurements.csv')
data_station = os.path.join('resources', 'hawaii_stations.csv')
data_pd = pd.read_csv(data_file)
data_station_pd = pd.read_csv(data_station)
data_pd.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [29]:
print(f'There are a total of {len(data_pd)} rows')
print(f'The no.of NAN values are \n{(data_pd.isnull().sum())}')

There are a total of 19550 rows
The no.of NAN values are
station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [30]:
data_clean = data_pd.dropna()
print(f'The new total number of rows are: {len(data_clean)}')

The new total number of rows are: 18103

In [31]:
new_data_csv = os.path.join('Resources', 'clean_hawaii_measurements.csv') 
data_clean.to_csv(new_data_csv)

In [32]:
print(f'There are a total of {len(data_station_pd)} stations')
print(f'And {data_station_pd.isnull().sum()} NAN')

There are a total of 9 stations
And station      0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64 NAN

In [38]:
stations_data_csv = os.path.join('Resources', 'clean_hawaii_stations.csv') 
data_station_pd.to_csv(stations_data_csv)